BODY,P,DIV,TH,TD,P,INPUT,SELECT,TEXTAREA {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, Sans-serif
}

BODY {
	MARGIN-TOP: 0 px; MARGIN-BOTTOM: 0 px; MARGIN-LEFT: 0 px; MARGIN-RIGHT: 0 px; BACKGROUND-COLOR: #FFFFFF;
}

A:link {
	COLOR: #000000; TEXT-DECORATION: none
}

A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}

A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}

A:active {
	COLOR: #000000; TEXT-DECORATION: none
}

H1 {
	FONT-SIZE: 15px
}

H2 {
	FONT-SIZE: 13px
}

H3 {
	FONT-SIZE: 12px
}

HR {
	COLOR: #dddddd; HEIGHT: 1px
}

/*
Page header
*/
.Head {
	BACKGROUND-COLOR: #fff2c9
}

.TollPhones {
	COLOR: #FFFFFF; FONT-SIZE: 13px; FONT-WEIGHT: bold;
}

.SideHead {
	COLOR: #FFFFFF; FONT-SIZE: 14px; FONT-WEIGHT: bold;
}

/*
Sidebar menu boxes
*/
.SidebarBox {
	BACKGROUND-COLOR: #FFFFFF;
}

/*
Border of sidebar menu boxes
*/
.SidebarBorder {
	BACKGROUND-COLOR: #BBBBBB
}

/*
Titles of sidebar menu boxes
*/
.SidebarTitle {
	FONT-WEIGHT: bold; COLOR: #000000; BACKGROUND-COLOR: #e5ebefe
}

/*
Menu items located in sidebar boxes
*/
.SidebarItems {
	COLOR: #373b3d; TEXT-DECORATION: none
}

/*
Menu items located in sidebar boxes: link
*/
.SidebarItems:link {
	COLOR: #373b3d; TEXT-DECORATION: none
}

/*
Menu items located in sidebar boxes: visited
*/
.SidebarItems:visited {
	COLOR: #373b3d; TEXT-DECORATION: none
}

/*
Menu items located in sidebar boxes: hover
*/
.SidebarItems:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}

/*
Menu items located in sidebar boxes: active
*/
.SidebarItems:active {
	COLOR: #373b3d; TEXT-DECORATION: none
}

/*
Horizontal separator in sidebar boxes
*/
.SidebarHr {
	COLOR: #b2b2b3
}

/*
Tab
*/
.TopTabOn {
	COLOR: #000000; FONT-WEIGHT: bold; FONT-SIZE: 12px
}

.TopTab {
	COLOR: #506176; FONT-WEIGHT: bold; FONT-SIZE: 12px
}

/*
Text in the categories list
*/
.CategoriesList {
	FONT-SIZE: 12px;
}

/*
Miscelanious text appearing in dialog boxes
*/
.DialogBox {
	BACKGROUND-COLOR: #ffffff
}

/*
Border color of dialog boxes
*/
.DialogBorder {
	BACKGROUND-COLOR: #E0E1E4
}

/*
Titles of dialog boxes
*/
.DialogTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #506176
}

/*
Comments appearing in dialog titles
*/
.DialogTitleComment {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #082032
}

/*
Number of articles
*/
.NumberOfArticles {
	FONT-WEIGHT: bold; COLOR: #000000
}

/*
Generic text
*/
.Text {
	COLOR: #000000
}

/*
Product title
*/
.ProductTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #102D50;
}

/*
Caption for product details section
*/
.ProductDetailsTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff3300;
}

/*
Labels for product details
*/
.ProductDetailsLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000;
}

/*
Product details
*/
.ProductDetails {
	COLOR: #000000
}

/*
Product price title
*/
.ProductPriceTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000;
}

/*
Product price title for alternative currency
*/
.ProductPriceConverting {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #082032;
}

/*
Product price
*/
.ProductPrice {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #902147;
}

/*
Smaller representation of product price
*/
.ProductPriceSmall {
	FONT-WEIGHT: bold; COLOR: #FF9822;
}

/*
See product details link
*/
.SeeDetails {
	TEXT-DECORATION: none
}

/*
Subcategories list
*/
.ItemsList {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #102D50;
}

/*
Navigation path bar
*/
.NavigationPath {
	COLOR: #294f6c; TEXT-DECORATION: none
}

/*
Navigation path bar: link
*/
.NavigationPath:link {
	COLOR: #294f6c; TEXT-DECORATION: none
}

/*
Navigation path bar: visited
*/
.NavigationPath:visited {
	COLOR: #294f6c; TEXT-DECORATION: none
}

/*
Navigation path bar: hover
*/
.NavigationPath:hover {
	COLOR: #082032; TEXT-DECORATION: underline
}

/*
Navigation path bar: active
*/
.NavigationPath:active {
	COLOR: #294f6c; TEXT-DECORATION: none
}

/*
Labels for form submit buttons
*/
.FormButton {
	FONT-WEIGHT: bold; COLOR: #00224c
}

.Button {
	FONT-SIZE: 11px; FONT-WEIGHT: bold; COLOR: #102D50
}

/*
Error message text
*/
.ErrorMessage {
	FONT-WEIGHT: bold; COLOR: #ff0000
}

/*
Validate error message text
*/
.ValidateErrorMessage {
	COLOR: #ff0000
}

/*
Success message
*/
.SuccessMessage {
	COLOR: green
}

/*
Mandatory field asterisk
*/
.Star {
	COLOR: #ff0000
}

/*
Header background
*/
.TableHead {
	BACKGROUND-COLOR: #E5EBEF
}

/*
Bottom text
*/
.Bottom {
	COLOR: #ABABAB; TEXT-DECORATION: none;
}

.BottomMenu {
	COLOR: #506176; TEXT-DECORATION: none; 	FONT-SIZE: 12px; LINE-HEIGHT: 200%;
}

.BottomBorder {
	BACKGROUND-COLOR: #D2D2D2
}

.BottomBox {
	BACKGROUND-COLOR: #E0E1E4
}

/*
Width for some dropdown select boxes
*/
.FixedSelect {
	WIDTH: 170px
}

/*
Default style for tab header
*/
.tabDefault {
	COLOR: #466479;
}

/*
Style for the selected tab header
*/
.tabSelected {
	COLOR: #000000;
}

/*
Tab page center
*/
.Center {
	BACKGROUND-COLOR: #ffffff;
}

/*
Tab page border
*/
.CenterBorder {
	BACKGROUND-COLOR: #CDD9E1;
}

/*
Out of stock message
*/
.OutOfStock {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff3300
}

/*
Style for promotion bonus condition list
*/
.Promotion {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #00224c
}

/*
Style for promotion product title
*/
.PromotionProductDetailsTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff3300;
}

/*
Style for gift certificate title
*/
.GiftCertificateTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff3300;
}


