(* Include file: FPU.CNF *)

(*
 *   >>> Nicht vergessen: In den Comp-Directiven +F eintragen! <<<
 *  ---------------------------------------------------------------
 *)

(*$F+*)  (* zur Verifikation, daž richtiges Format gew„hlt ist *)

CONST A68881 = TRUE;   (* Atari-/Weide-/usw.-FPU ! *)
      M68881 = FALSE;  (* FPU auf PAK mit 68020 ! *)

(* End of include file *)