# XaAES Startup Configuration file (xaaesdbg.cnf) for the debug
#       version.
#--------------------------------------------------------------
#
# '#' is a comment line.
# Commands are not case sensitive (although paths may be,
#  depending on your filesystem).
#
# Generally spoken: path like values can be embraced by '',"" or ()
# If a command isn't understood, it gets ignored...
#
# COMMANDS:
#  string <identifier> <value>        Set environment variable.
#
#  synonyms for string are export and setenv
#  Needless to say that export is a very wrong name.
#  But lets allow it for ex N,AES users :-)
#
#  clipboard <directory>              Set location of clipboard (default=c:\clipbrd)
#  accpath <directory>                Set location of accessories (default=c:\)
#  run <program> <parameters....>     Launch a GEM program
#  debug <file/device|off>            Set destination for debugging output, or turn it off (initially)
#                                     The on/off status can be toggled later by CTRL-ALT-D
#                                     (A compile time option can turn all debug output off)
#  direct on                          Turn on direct AES calls (default is off)
#                                     This can cause a substantial speed up, but is not as 'nice'
#                                     Currently (beta7+/5) there seem to be some 'minor' problems
#--------------------------------------------------------------
#
# Extensions by Henk Robbers dec '99
#
#  desk <program> <parameters...>     Launch specifically the desktop program
#                                     shell is currently same as desk
#
#   Any number of white space is accepted
#   Path names can be embraced by '', "" or ()
#   More elaborate debugging designed to reduce the debug output mass
#   Well defined debugpoints are:
#		  appl,		/* includes client pool */
#		  evnt,
#		  multi,	/* evnt_multi only */
#		  form,
#		  fsel,
#		  graf,
#		  menu,
#		  objc,
#		  rsrc,
#		  scrp,
#		  shell,
#		  wind,
#		  widg,
#		  mouse,
#		  keybd,
#		  sema,		/* wind_update */
#		  rect,		/* rectangle list code */
#		  trap,		/* just the trap #2, nice to find out what a app actually is doing */
#		  pipe
#
#	The letters a-z are ad hoc debug points.
#	You can restrict output to a single process by adding /pid to the debug point.
#	pid = process identification number. This works only if the XaAES is
#   compliled with the appropriate DIAG call's :-)
#
# Turn on/off the debug output
# 0/off, 1/on = general only, 2 = debugpoints, >2 or all = all
# debugpoint x/pid        only for pid 
# debug all in combination with debugpoint or except means simply 'all but ...' :-)

# Send debug output to a file
# If debugging is off, regular messages will go to this file

debug xaaes.log

#debug 1
#debug all
#except o,i,s,a,r,k,x

debugpoint menu

# Specify the maximum no of debug lines for the debug output file.
# The default is 10000
# Whenever the specified number is reached, XaAES will wrap around
# the debug file.
# This makes it possible to have a very long up time, without the
# danger of filling a partition completely.
# Very inportant to catch very rare crashes.

debug_lines 25000

# Send debug to the screen
# debug screen

# Send debug output to a serial port
# debug u:\dev\ttyb

# Send debug output to \dev\null   (see also below)
# debug u:\dev\null

# Optional: specify the names of the resource file

#widgets monowidg.rsc		; mono names (NO 3D widgets!)
#resource xa_mono.rsc
#widgets xaaeswdg.rsc		; default names
#resource xaaes.rsc

# if you want to see the window owner in window titles, uncomment:

windowner false

# set the menu behaviour:
# pull: normal; classic GEM is the default.
# push: you have to click on a title, MAC like
# leave: implies pull, in addition you dont have to click on the desktop.
#        to cancel a pulled menu, just leave it.

menu leave

# If you need progdefs run in supervisormode, uncomment:
# superprogdef

# If XaAES is build with fileselector, specify your favourite filters
# Seperate them by ',' '\' '|' or '/'
# The defaults in the resourcefile are already very exhaustive. :-)
filters *, *.[atpg]*, *.[chs]*, *.l*, *.o*

# Specify commonly used texts of cancel buttons.
# these are triggered by pressing UNDO in all dialogues

cancel cancel,abbruch,annuler,avbryt,annuluj,afbryd,undo

# specifies the way window titles are displayed
# faint specified: untopped faint,  topped normal
# bold  specified: untopped normal, topped bold
# Only used in monochrome.

toppage faint

# Set the default clipboard path

clipboard c:\clipbrd\

# Set the launcher's initial path & filter

#launcher c:\gemsys\xaaes\tw\*.[ATPG]*
launcher d:\thing\*.[ATPG]*

# Set the accessory search path

accpath c:\

# Turn on (some) direct AES calls
# direct on

# Some usefull variables:
# NN.BB.! any of these that come after the first run/shell/desk are ignored
# The '=' between the 2 parts is optional
# The variable name will be converted to upper case
string AVSERVER "THING   "
string TOSRUN c:\gemsys\xaaes\tw\tw-call.app
int w = 1280
int h = -24		; examples of the 'int' feature

# mintmouse

# set the absoloute priority of XaAES.
# If absent, XaAES lowers its priority by 1
# It is recommended to have this statement before any launches, if it is used.

# priority 5

# Launch the desktop   HR: in the future it might be usefull to know the desktops pid,
# so I've given it a seperate command 'shell' or 'desk'  :-)

# test also ()
# The English version I payed for
desk d:\thing\thing.app
#shell (u:\c\gemsys\xaaes\teradesk\desktop.prg)
# desk c:\ming\Thing.app
# shell c:\jinnee\jinnee.app
# desk c:\ease\ease.prg
# shell e:\gemini2\Gemini.app
# shell e:\nodesk\noDesk.ovl

# Do some launches

# run c:\gemsys\xaaes\mltistrp\mltistrp.app
# run c:\gemsys\xaaes\taskbar\taskbar.prg
run c:\gemsys\xaaes\tw\tw-call.app
# run c:\boxkite.prg
# run c:\gemsys\xaaes\explode.prg
# run c:\mint\app\miniwin.app
