# XaAES Startup Configuration file (xaaes.cnf)
# Last modified 980704, by Johan Klockars
#               010404, by Henk Robbers
#--------------------------------------------------------------

windowner	false				; false or short or long
menu		leave				; leave or push or pull
filters		*, *.[atpg]*, *.[chs]*, *.l*, *.o*
cancel		cancel,abbruch,annuler,avbryt,annuluj,afbryd,undo
toppage		bold				; or faint
clipboard	c:\clipbrd\
launcher	c:\gemsys\xaaes\tw\*.[atpg]*
accpath		c:\

#widgets	'monowidg.rsc'		; monochrome resources
#resource	'xa_mono.rsc'		; no colour icons

string		AVSERVER "THING   "
string		TOSRUN c:\gemsys\xaaes\tw\tw-call.app

# the below must all be put at the end of the file together
# (after the environment strings)

desk		d:\thing\thing.app
#shell		(u:\c\gemsys\xaaes\teradesk\desktop.prg)

#run		c:\gemsys\xaaes\mltistrp\mltistrp.app
#run		c:\gemsys\xaaes\taskbar\taskbar.prg
 run		c:\gemsys\xaaes\tw\tw-call.app
#run		c:\gemsys\xaaes\explode.prg
