[submodule "asm/ulm/paradist"]
	path = ASM/ULM/paradist
	url = git://source.hacker.lu/paradist.git
[submodule "ASM/Cybernetics/demOS"]
	path = ASM/Cybernetics/demOS
	url = https://github.com/gibs75/demOS.git
[submodule "ASM/Lineout/sawstep"]
	path = ASM/Lineout/sawstep
	url = https://github.com/pietervandermeer/sawstep.git
[submodule "C/eviltester"]
	path = C/eviltester
	url = https://github.com/eviltester/atari-st-vector-tank.git
[submodule "ASM/LINEOUT/sawstep"]
	path = ASM/LINEOUT/sawstep
	url = https://github.com/pietervandermeer/sawstep.git
[submodule "ASM/Various/Matt Lacey/columns"]
	path = ASM/Various/Matt Lacey/columns
	url = https://github.com/mattlacey/columns
