[submodule "ASM/Cybernetics/demOS"]
	path = ASM/Cybernetics/demOS
	url = https://github.com/gibs75/demOS.git
[submodule "ASM/Lineout/sawstep"]
	path = ASM/Lineout/sawstep
	url = https://github.com/pietervandermeer/sawstep.git
[submodule "C/eviltester"]
	path = C/eviltester
	url = https://github.com/eviltester/atari-st-vector-tank.git
[submodule "ASM/Various/Matt Lacey/columns"]
	path = ASM/Various/Matt Lacey/columns
	url = https://github.com/mattlacey/columns.git
[submodule "ASM/LINEOUT/sawstep"]
	path = ASM/LINEOUT/sawstep
	url = https://github.com/pietervandermeer/sawstep.git
[submodule "C/Petr Stehlik/parcp"]
	path = C/Petr Stehlik/parcp
	url = https://github.com/joysfera/parcp.git
[submodule "ASM/MJJ/stnicc-intro"]
	path = ASM/MJJ/stnicc-intro
	url = https://github.com/glokyful/stnicc-intro.git
[submodule "ASM/Sector One/mpp"]
	path = ASM/Sector One/mpp
	url = https://github.com/ggnkua/Atari_ST_Sources.git
[submodule "ASM/MJJ/dot-sinus-demos"]
	path = ASM/MJJ/dot-sinus-demos
	url = https://github.com/glokyful/dot-sinus-demos.git
[submodule "ASM/Various/Thomas Bernard/miniupnp"]
	path = ASM/Various/Thomas Bernard/miniupnp
	url = https://github.com/miniupnp/AtariST.git
[submodule "C/Peter Lane/chart"]
	path = C/Peter Lane/chart
	url = https://github.com/petercrlane/chart.git
[submodule "C/Peter Lane/sokoban"]
	path = C/Peter Lane/sokoban
	url = https://github.com/petercrlane/sokoban.git
[submodule "C/Peter Lane/BibFind"]
	path = C/Peter Lane/BibFind
	url = https://github.com/petercrlane/bibfind.git
[submodule "C/Peter Lane/cmanship"]
	path = C/Peter Lane/cmanship
	url = https://github.com/petercrlane/cmanship.git
[submodule "ASM/NoExtra/Framework"]
	path = ASM/NoExtra/Framework
	url = https://github.com/NoExtra-Team/framework.git
[submodule "ASM/Various/Cyril Dupuydauby"]
	path = ASM/Various/Cyril Dupuydauby
	url = https://github.com/dupdob/Backward.git
[submodule "ASM/Stratosphere/miniupnp"]
	path = ASM/Stratosphere/miniupnp
	url = https://github.com/miniupnp/AtariST.git
[submodule "ASM/Fuzion/orionfuzion"]
	path = ASM/Fuzion/orionfuzion
	url = https://github.com/orionfuzion/intros.git
[submodule "C/Anodyne/diamond-edge"]
	path = C/Anodyne/diamond-edge
	url = https://git.code.sf.net/p/diamond-edge/code
[submodule "C/Anodyne/diamond-back"]
	path = C/Anodyne/diamond-back
	url = https://git.code.sf.net/p/diamond-back/code
[submodule "ASM/SYNC/synctable"]
	path = ASM/SYNC/synctable
	url = https://github.com/troed/synctable
[submodule "ASM/SYNC/CLOCK"]
	path = ASM/SYNC/CLOCK
	url = https://github.com/troed/CLOCK.git
[submodule "ASM/SYNC/WSDETECT"]
	path = ASM/SYNC/WSDETECT
	url = https://github.com/troed/WSDETECT
[submodule "GFA Basic/mmuman/gfalist"]
	path = GFA Basic/mmuman/gfalist
	url = https://github.com/mmuman/gfalist.git
[submodule "ASM/Tat/lz4-m68k"]
	path = ASM/Tat/lz4-m68k
	url = https://github.com/tattlemuss/lz4-m68k.git
