[submodule "asm/ulm/paradist"]
	path = ASM/ULM/paradist
	url = git://source.hacker.lu/paradist.git
[submodule "ASM/Cybernetics/demOS"]
	path = ASM/Cybernetics/demOS
	url = https://github.com/gibs75/demOS.git
[submodule "ASM/Lineout/sawstep"]
	path = ASM/Lineout/sawstep
	url = https://github.com/pietervandermeer/sawstep.git
