*□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■
*
*	ＢＧＭコンフィグファイル
*
*□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■

*	　'*'で始まる行はリマークです。

*	　'$','0x','0X' で始まる数字は１６進数を表します。

*	　同一ファイルが複数箇所で指定されていても、ファイル読み込みの再に最適化され
*	ます。よって、メモリがムダに消費されることはありません。


*	●ＢＧＭファイルの指定方法

*		BGM_No.で、ＢＧＭナンバーを指定（0x40まで）。

*		FILE = で、ＢＧＭデータファイルを指定。


*	●ＢＧＭ用ＡＤＰＣＭデータの指定方法

*		ADPCM_FILE = で、ＡＤＰＣＭデータファイル（*.pdx *.zpd）を指定。

*		（注）MCDRV.X 常駐時に指定したバッファサイズ以上のＡＤＰＣＭデータ
*		　　は使用できません。
*		　　　また、ＡＤＰＣＭデータを使用する場合は、PCM8A.X を、ファンク
*		　　ション限定モード（起動時スイッチ'FNC'）で常駐させておいて下さい。
*		　　PCM8A.X 以外のＰＣＭ多重化ドライバーは使用不可能です。


*------------------[ BGM用 ADPCMデータ ]-----------------

*		ADPCM_FILE = BGM_DAT\


*---------------------[ 特殊ＢＧＭ ]---------------------
* 起動時
*		BGM_No.$00 : FILE = BGM_DAT\

* GAME START
*		BGM_No.$01 : FILE = BGM_DAT\

* CONTINUE
*		BGM_No.$02 : FILE = BGM_DAT\

* GAME OVER
		BGM_No.$03 : FILE = BGM_DAT\SZ2_TMP.MDC

* ネーム入力（１位）
		BGM_No.$04 : FILE = BGM_DAT\SZ2_NM.MDC

* ネーム入力（２位）
		BGM_No.$05 : FILE = BGM_DAT\SZ2_NM.MDC

* ネーム入力（３位）
		BGM_No.$06 : FILE = BGM_DAT\SZ2_NM.MDC

* ネーム入力（４位以降）
		BGM_No.$07 : FILE = BGM_DAT\SZ2_NM.MDC


*---------------------[ メインＢＧＭ ]---------------------
* TITLE
*		BGM_No.$10 : FILE = BGM_DAT\

* １面
		BGM_No.$11 : FILE = BGM_DAT\SZ2_S1.mdc

* ２面
		BGM_No.$12 : FILE = BGM_DAT\SZ2_S2.mdc

* ３面
		BGM_No.$13 : FILE = BGM_DAT\SZ2_S3.mdc

* ４面
		BGM_No.$14 : FILE = BGM_DAT\SZ2_S4.mdc

* ５面
		BGM_No.$15 : FILE = BGM_DAT\SZ2_S6.mdc

* ６面
		BGM_No.$16 : FILE = BGM_DAT\SZ2_S5.mdc

* ７面（０面）
		BGM_No.$17 : FILE = BGM_DAT\SZ2_S0.mdc


*---------------------[ ボスＢＧＭ ]---------------------
* おしおきボス
		BGM_No.$20 : FILE = BGM_DAT\SZ2_B3.MDC

* １面ボス
		BGM_No.$21 : FILE = BGM_DAT\SZ2_B1.MDC

* ２面ボス
		BGM_No.$22 : FILE = BGM_DAT\SZ2_B1.MDC

* ３面ボス
		BGM_No.$23 : FILE = BGM_DAT\SZ2_B1.MDC

* ４面ボス
		BGM_No.$24 : FILE = BGM_DAT\SZ2_B1.MDC

* ５面ボス
		BGM_No.$25 : FILE = BGM_DAT\SZ2_B1.MDC

* ６面ボス
		BGM_No.$26 : FILE = BGM_DAT\SZ2_B2.MDC

* ７面（０面）ボス
		BGM_No.$27 : FILE = BGM_DAT\SZ2_B2.MDC




