BODY  {

	margin-left: 20px; margin-right: 20px;max-width:940px;
	font-family: "Verdana", Arial, Helvetica, Geneva, sans-serif;
	text-align: justify;
}
p,li,td,th,ul,dd,div,fieldset  {
	font-size : 10pt;
	line-height:1.25;
	
}
.dropdown:hover>.dropdown-menu {
  display: block;
}
.dropdown-item, .dropdown-item:visited, .dropdown-item:hover {
	color:white;
	font-size:13.3px;
}
dt {
	font-size : 10pt;
	line-height:1.25;
	font-style: italic;
}
.nopadding {
	padding:0px;
}
.smaller, .smaller p, .smaller td  {
	font-size : 0.8em;
}
.hyphens { 
   -moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto; 
}
.tableinnerborder table {
border-collapse: collapse;
text-align:left;
}
.tableinnerborder tr {
	border-bottom: solid 1px black;
}
.tableinnerborder td {
	vertical-align:top;
}
.searchbg {
	width:100%;
	text-align:right;
	margin: 0px 1px;
	border: 1px solid #222;
	background-color: #111;
	background-image: linear-gradient(#444, #111);
	border-radius: 6px 6px 1px 1px;
	box-shadow: 0 1px 1px #777;
}
.round {
	border-radius: 6px 6px 1px 1px;
	box-shadow: 0 1px 1px #777;
}

.column2 {
-webkit-column-count: 2; 
	-moz-column-count: 2; 
	column-count: 2;
	-webkit-column-gap: 40px; 
	-moz-column-gap: 40px; 
	column-gap: 40px;
}
.column2 h1 {
-webkit-column-span: all; /* Chrome, Safari, Opera */
	column-span: all;
}
.intro2k3 {
	font-family:Futura, Impact;
}
.navhead {
	background-color: #00007f;
	color: white;
	font-size : small;
}
#adr {
	font-style: italic;
}
h1 {
	font-size : 1.25em;
	font-family : sans-serif;
	color : #000099;
	font-style : normal;
	font-weight : bold;
	width:100%;
}
h2 {
	font-size : small;
	font-family : sans-serif;
	color : #3333AA;
	font-style : normal;
	font-weight : bold;
	width:100%;
}
.twocol {
	margin: 10px;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	-moz-column-gap: 1em;
-moz-column-rule: 1px solid black;
	background-color:#dddddd;
}
.kasten {
background-color: #dddddd; 
-webkit-border-radius: 15px; -webkit-box-shadow: 3px 3px 3px #cccccc;
}
.kasten .topic {
	font-size: 26px; margin: 10px; text-shadow: darkblue 2px 2px 2px; -webkit-text-fill-color: darkblue; -webkit-text-stroke: 1px lightyellow;
}
p.einleitung { font-weight:bold; }
p.signatur { text-align:right; }
p.literatur { text-style:italique; }
.question {
	font-weight: bold;
}

PRE {
	font-family : Courier New, Courier;
}
pre.nor {
	font-size : smaller;
	font-family : Arial,sans-serif;
}
small  {
	font-size : smaller;
}
#topic2 {
	font-size : medium;
	font-family : sans-serif;
	color : #FFAA00;
	font-style : italic;
	font-weight : bold;
}
#sample {
	width: 100%;
	background-color:#aaaa00;
	color: #000000;
}


a:hover {
	color:#0000EE;
}
a:visited {
	color:#0000AA;
}
ul {
	list-style:square;
}
a.transl {
	font-family : sans-serif;
	font-weight : normal;
	color:#00AAAA;
}
.red {
color:#ff6666;
}
#bigfont {
font-size:x-large;
color:black;

}
#wertungstc {
border-width:thin; 
border-style:solid; 
border-color:black;
}
.input {
border: 1px;
border-color:black;
border-style:solid;
background-color:#ffd700;
}
.black {
	background-color:black;
	color:white;
}
.grey {
	background-color:#E0E0E0;
}
li.comp {
	list-style:square;
	//list-style-image:url(bilder/circlered.gif)
}
.title{
text-shadow: 0 0 7px #BCED09;
  color: gold;
  display: inline;
  position: relative;
  top: -40px;
  font-size: x-large;
} 
fieldset {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
padding:10px;
border: 1px solid #999;
border: inset 1px solid #333;
-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
-moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
}
fieldset h1 {
	font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 10px 0px 10px 20px;
	display: block;
	margin: -10px -10px 20px -10px;
	color: #FFF;
	background: #BFBFBF;
	text-shadow: 1px 1px 1px #949494;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-bottom: 1px solid #AFAFAF;
}
fieldset label {
	margin: 0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}
header {
	display:inline;
	align:left;
}

table.toc {
	width: 95%;
	margin: auto;
	table-layout:fixed;
	border-collapse: collapse;
	}

table.toc th {
	width:100%;
		padding: 1em 0 0 0;
	vertical-align: bottom;
}

table.toc td {
	padding:1em 0 0 0;
	vertical-align:bottom;
	}
	
table.toc td span{
	background-color:#fff;
	}
	
table.toc td:first-child {
	text-align: left;
	font-weight: 700;
  overflow: hidden;
	position: relative;
	}
	
table.toc td:first-child::after {
  content: '';
  position: absolute;
  bottom: 0;
  width:1500px;
  height:0px ;
  margin-left: 1em;
  border-bottom:2px dotted grey;
}

table.toc td:last-child {
	text-align:right;
	width:3em;
	}
.issueinfo {
	background-color: aliceblue;
	margin-top:15px;
}

/* Top-Menu */
#menu, #menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#menu {
	width: 100%;
	border: 1px solid #222;
	background-color: #111;
	background-image: linear-gradient(#444, #111);
	border-radius: 1px 1px 6px 6px;
	box-shadow: 0 1px 1px #777;
}


#menu-trigger { /* Hide it initially */
	display: none;
}

.picture {  padding: 3px;
font: bold 11px/1.4em Arial, sans-serif; }
.picture img { 
vertical-align:middle; margin-bottom: 3px; }
.right { margin: 0.5em 0pt 0.5em 0.8em; float:right; }
.left { margin: 0.5em 0.8em 0.5em 0; float:left; }
.center { display: block;
text-align:center;
	margin-left: auto;
	margin-right: auto }

@media screen and (max-width: 600px) {

	#menu-wrap {
		position: relative;
	}

	#menu-wrap * {
		box-sizing: border-box;
	}

	#menu-trigger {
		display: block; /* Show it now */
		height: 40px;
		line-height: 40px;
		cursor: pointer;		
		padding: 0 0 0 35px;
		border: 1px solid #222;
		color: #fafafa;
		font-weight: bold;
		background-color: #111;
				/* Multiple backgrounds here, the first is base64 encoded */
		background: url(data:image/png;base64,iVBOR...) no-repeat 10px center, linear-gradient(#444, #111);
		border-radius: 6px;
		box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
	}

	#menu {
		margin: 0; 
		width: 100%;
		z-index: 1;
		box-shadow: none;		
	}

	#menu:after {
		content: '';
		position: absolute;
		left: 25px;
		top: -8px;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid #444;
	}	

	#menu ul {
		position: static;
		visibility: visible;
		opacity: 1;
		margin: 0;
		background: none;
		box-shadow: none;				
	}

	#menu ul ul {
		margin: 0 0 0 20px !important;
		box-shadow: none;		
	}

	#menu li {
		position: static;
		display: block;
		float: none;
		border: 0;
		margin: 5px;
		box-shadow: none;			
	}

	#menu ul li{
		margin-left: 20px;
		box-shadow: none;		
	}

	#menu a{
		display: block;
		float: none;
		padding: 0;
		color: #999;
	}

	#menu a:hover{
		color: #fafafa;
	}	

	#menu ul a{
		padding: 0;
		width: auto;		
	}

	#menu ul a:hover{
		background: none;	
	}

	#menu ul li:first-child a:after,
	#menu ul ul li:first-child a:after {
		border: 0;
	}		

}


.textkasten h1 {
	background-color:#cccccc;
	font-size : 1.25em;
	font-family : sans-serif;
	color : #000000;
	width:100%;
	text-align:center;
	margin-top:-0px;

}
.textkasten {
	border-width: thin;
	border-style: solid;
	border-color: black;
	border-spacing: 5px;
	text-align:left;
}
.textkasten p {
	padding-left:10px;
	padding-right:10px;
}
.textkasten-noborder p {
	padding-left:10px;
	padding-right:10px;
}
.bgyellow {
	background-color:#FDEC70;
}
.bgred {
	background-color:red;
}
pre code {
	background-color: bisque;
	display: block;
	margin: 1.5em 10px;
	padding: 10px;
} 
.bgblue {
	background-color:#98B4D1;
}
.bggreen {
	background-color:#98D1B4;
}
.bggray {
	background-color:#E1E1E1;
}
.bgmintgreen {
	background-color:#A7C4AC;
}
.half {
	width:48%;
}
.third {
	width:30%;
}
.quarter {
	width:24%;
}
.links {
	float:left;
}
.rechts {
	float:right;
	clear:all;
}


/* iPad */
.no-transition {
	transition: none;
	opacity: 1;
	visibility: visible;
	display: none;  		
}
ul.artikelliste {
padding-left:160px;
} 
#menu li:hover > .no-transition {
	display: block;
}
/* Markdown */
[alt=center] {
  display: block;
  margin: auto;
}
[alt=left] {
float:left;
  display: block;
  margin: auto;
}
figure { margin-left: auto;
  margin-right: auto;display: table; 
   }
figure img { 
	margin-right:10px;
}
.thin {
font-weight:lighter;
letter-spacing: 3px;
font-family:sans-serif;
color:black;
	font-size : 1.5em;

}
figcaption {
	font-size : 10pt;
	font-style: italic;
	font-weight : bold;
	text-align:left;
	display: table-caption;
	caption-side: bottom;
}  

// math

.intsuma {
	position: relative;
	display: inline-block;
	vertical-align: middle;
   // text-align: center;
   float: left;
}
.intsuma > span {
	display: block;
	font-size: 70%;
}
.intsuma .lim-up {
	margin-bottom: -1.0ex;
}
.intsuma .lim {
	margin-top: -0.5ex;
}
.intsuma .sum {
	font-size: 1.5em;
	font-weight: lighter;
}
.intsuma .sum-frac {
	font-size: 1.5em;
	font-weight: 100;
}
.eq-c {
	text-align: center;
		display: inline;

}
.eq-l, .eq-c, .eq-tab {
	line-height: 1.4;
	padding: 0.25em 0.5em;
	font-size: 1.1em;
}
.sum-display .lim, .sum-display-inline .lim {
	font-size: 75%;
}


