#
#
# Example setup file for gemGS.
#
# The format for the setup commands is currently very strict, so
# pay close attention to the precise form. Never use more than
# a single space, and don't use any tabs.
#
# Any line which cannot be recognized is ignored, but I have
# conventionally used a '#' to denote a comment.
#

# Set default device. This overrides the GS_DEVICE environment
# variable. If this is missing, the default is the stvdi device.
# The device name must match name that GS knows for the device.
# To see what devices are installed, type gs -?.
# Format is "device gs_device_name".

device stvdi

# Set gemGS to autorun. When autorun is set to 1, gemGS will immediately
# run GS on the input file, ignoring the 'confirm' option if it is set.
# If there is no input file, the autorun variable is ignored and gemGS
# runs interactively. This allows PostScript files to be immediately
# displayed with gemGS by simply double-clicking on the file. Of course,
# you must install gemGS as an desktop application first.

autorun 1

# Set the default options.
# Format for on/off options is "option_name 1/0".

#confirm 1
#quiet 0
nopause 0
#autoquit 1
windows 1

# Format for other options is "option_name option_string".

#resolution 60
#geometry 400x400
#clist 150000
#papersize a4

# Set environment variables. PATH is used in searching for GS
# and for tools. GS_DEVICE is the default device if the "device"
# command appears nowhere in this file. GS_LIB is the path that
# GS searches for ps files, fonts, etc.

#setenv PATH=c:\bin,f:\gs
#setenv GS_DEVICE=deskjet
#setenv GS_LIB=f:\gs,f:\gs\ps,f:\gs\fonts

# Add devices to the device menu. The device name must match the
# Ghostscript name for the device. Type 'gs -h' to see which
# devices are available in the GS executable that you have.
# Format is "devmenu gs_device_name".

devmenu djet500
devmenu epson
devmenu dfaxhigh

# Add resolutions to the resolution menu. The default screen
# resolution is 80dpi. All resolution entries are in dots-per-inch.
# The resolution string should be whatever comes after the GS
# -r command line switch. It is up to you to specify a resolution
# that the given device can handle.
# Format is "resmenu resolution_string".

resmenu 60
resmenu 100
resmenu 120x60

# Add tools to the tool menu. These can be GEM, TOS, or TTP programs.
# PATH will be searched for any program specified. If the program
# is not in the specified PATH environment variable, the full program
# name must be given. The following special keywords are recognized
# by gemGS as command line options for tool menu entries:
#
# infile:	substitute the input file in the position of this keyword,
# outfile:	substitute the output file in the position of this keyword,
# fsel:		present a file selector, put the selection in this position,
# dialog:	present a dialog with an editable text string, input here,
# pause:	pause after tool terminates before redrawing screen,
# gem:		specifies that program is a GEM program so that screen
#			and mouse are handled properly.
#
# Format is "toolmenu menu_string program_name [command line options]"

toolmenu gemGS-Help ue gemgs.doc
toolmenu GS-Help ue f:\gs\doc\use.doc
toolmenu Edit-File ue dialog
toolmenu Edit-Input ue infile
toolmenu Print-Output bpr outfile
toolmenu TeXdvi-to-PS dvips fsel
toolmenu Dega-to-PS psst gem
toolmenu Shell gulam
toolmenu Directory ls -l pause
toolmenu DiskSpace df c: d: e: f: g: h: pause
