Fichier de configuration g‚n‚ral pour la bibliothŠque GNUGENC
CONFIG_GNUGENC=1; !!! Ne jamais supprimer cette ligne CONFIG_GNUGENC=1; est absolument n‚cessaire
               /* D‚finition pour la fenˆtre STDOUT */
STDOUT_X=0;      Position en X de la fenˆtre STDOUT en  0e l'‚cran
STDOUT_Y=80;      Position en Y de la fenˆtre STDOUT en  0e l'‚cran
STDOUT_W=100;     Largeur de la fenˆtre STDOUT en  0e l'‚cran
STDOUT_H=20;     Hauteur de la fenˆtre STDOUT en  0e l'‚cran
STDOUT_COLOR=0;  Couleur de fond de la fenˆtre STDOUT
TOS2WIN=1;       Si 1 ex‚cute les programmes TOS avec l'‚mulateur en fenˆtre VT52 (systŠme multitache seulement)
FIX_MENU_BUG_ORCS=0;
@ ne jamais enlever @ et ne pas en mettre ailleur