# XaAES Startup Configuration file (xaaes.cnf)
# (w)1995, by Craig Graham.
#--------------------------------------------------------------
#
# '#' is a comment line.
# Commands are not case sensitive (although paths may be,
#  depending on your filesystem).
# Generally the syntax of this is supposed to be the same as
# Atari's GEM.CNF file (although not all of it is relevant).
# If a command isn't understood, it gets ignored...
#
# COMMANDS:
#  run <program> <parameters....>     Launch a GEM program
#  debug <file/device>                Set destination for debugging output
#  clipboard <directory>              Set location of clipboard (default=c:\clipbrd)
#  accpath <directory>                Set location of accessories (default=c:\)
#--------------------------------------------------------------
#
# Set the default clipboard path
clipboard c:\clipbrd\
# Set the accessory search path
accpath c:\
#
# Launch toswin to handle TOS programs for me
run u:\h\sources\aes\sys\toswin30.prg
#
# Launch the desktop
run u:\c\thing\thing.app
# Run some other stuff
#
# Set Debugging to go to serial port
debug u:\dev\ttyb
#
# Set Debugging to go to \dev\null
#debug u:\dev\null
#
