#
#	DomView configuration - Example of config
#

[VIEWER]
# window location
# window=x,y,w,h
window = 60,20,400,-1

# next window location (negative value is possible)
# next=dx,dy
next = 10,10

# tabulation size
tabulator = 4

# text color (VDI index)
text_color = 1

# font=id,size
font = 19,12

# background=color
background = 8

colorpath = E:\SRC\VIEWER\COLOR.PRG
#macrospath = E:\SRC\VIEWER\
#color_opt = silent

editorpath = D:\QED\QED.APP
editorav = true

[end]