##############################################################################
#  High C / Professional Pascal / Lahey Fortran
#    variable definition file for the compile-and-link driver.
#  Copyright (C) 1989,1990 MetaWare Incorporated.  All rights reserved.
##############################################################################
#  You may use any ASCII editor to modify this file after compiler
#  installation is complete.
#
#  Before modifying this file, PLEASE read the section "Modifying
#  the Configuration File" in the Installation Guide.
#
#  Things you should do:
#    Change HCDIR to the directory in which you installed the HC compiler, 
#	or define HCDIR in the environment.
#    Change PPDIR to the directory in which you installed the Pascal compiler,
#	or define PPDIR in the environment. 
#    Change LFDIR to the directory in which you installed the Fortran
#      compiler, or define LFDIR in the environment. 
#    Change TOOLSDIR to the directory where your tools are -- your linker,
#	assembler, and so on -- or define TOOLSDIR in the environment.
#
#  Remember that the '#' comments out the rest of the line, and must be
#  removed before the variable will actually be set.
##############################################################################
#HCDIR=$DRVPARENT
HCDIR=c:\meta
#PPDIR=c:\where\you\loadedpp
#LFDIR=c:\where\you\loadedlf
#TOOLSDIR=
TOOLSDIR=c:\meta

##############################################################################
#  Command-line options that will be evaluated at _every_ compilation.
##############################################################################
#ARGS=
ARGS=-Heol=#a -386 -Hnocopyr -fsoft -g -w 

##############################################################################
#  Linker and assembler to be used.  You may specify a full path to your
#  linker and assembler right here.
#
#  If you are running the DOS 386 compiler, and LINKNAME is set to something
#  ending with "l32.", the Lahey linker will be used instead of 386link.
#
#  If you are running the DOS 386 compiler, and ASNAME is set to something
#  ending with "masm.exe", then MASM will be used instead of 386asm.
##############################################################################
#LINKNAME=
LINKNAME=c:\meta\bin\fastlink -tc
#ASNAME=

##############################################################################
#  OS/2 SECTION; supply this information only if target is OS/2.
#  Skip this section if target is MS-DOS.
##############################################################################

# Set  your OS2-specific libraries; typically, this is just the OS/2-provided
# doscalls.lib (for 16-bit OS/2) or os2386.lib (for 32-bit OS/2).
OS2LIB=doscalls
#OS2LIB=doscalls c:\another\lib c:\and\yet\another
#OS2LIB=os2386 c:\another\lib c:\and\yet\another

# Default .def file for linking.
# The distribution supplies a default in the ./bin directory.
DEF=$DRVPATH$)default.def

##############################################################################
#  Extra libraries to be linked in for specific math coprocessors.
##############################################################################
#
#  If you wish to link in extra libraries, specify them in the following
#  variables.  These variables follow the same naming convention as the
#  standard system libraries -- "USERLIBx" is a user library for coprocessor
#  chip 'x' (which can be one of soft, 387, 287, 1167, or 3167, or the
#  processor type, either 386, or 486r, for a 486 with register calling
#  convention enabled. Values for x MUST be UPPERCASE.
#
#  For example, to link in the BlackStar C library function using the
#  floating-point emulator library, you would
#  set USERLIBSOFT=c:\blkstar\clibs.lib c:\blkstr\ibmlibs.lib (you must specify
#  the full path).
#
#  Note that these cannot be set in the environment.
#  These libraries will be linked in before the standard system libraries.
#
#
##############################################################################
USERLIBSOFT=
USERLIB387=
USERLIB287=
USERLIB1167=
USERLIB3167=
USERLIB386=
USERLIBLOC=

##############################################################################
#  Define source-file suffixes recognized by the driver.
##############################################################################
CEXT=CPP .c .i		%; # C
PEXT=.p .pas		%; # Pascal
FEXT=CPP .f .for .qc	%; # Fortran
AEXT=.s .asm		%; # Assembly
