*.o
*.dblite
src/\.sconsign\*.dblite
nktlib/\.sconsign\*.dblite
src
*.tgz
*.tar.gz
src/*.tgz
src/*.tar.gz

lib
include
libcmini
atari-gcc-startup

bin/
build/
src/cov-int/
nktlib/\src/\*
nktlib/\include/\*
nktlib/\lib/\*
deps/\atari-gcc-startup/\*

cov-int
scripts/coverity/userInfo.sh
scripts/coverity/cov-analysis-win64
/scripts/coverity/*.zip
