#
# SCSI.CNF - Steve Woodford, 1993
#
# These are the normal timeout periods for an Archive Viper 150Mb
# tapedrive. They are actually built into 'mt.ttp', but they are
# here too, just to demonstrate how things are done.
#

SCSI_TAPE_ID    =   2   # My system has the tape as ID 2.

# This is the list of timeout values. The order and number are
# critical. The correct order is:
# Normal, Rezero, Read, Write, Seek, Load, Unload, Retension, Space, Erase.
# Zero timeout means just use default value.

SCSI_TIMEOUT_2  =   2, 120, 120, 120, 240, 120, 120, 240, 1600, 240

# The 'Normal' timeout is for commands that don't involve any mechanical
# movement. ie. Getting sense or inquiry data.

#
# That's all there is to it. Remember, you can put anything in here
# following a '#' character and it will be ignored. Blank lines are
# also ignored, but note that data lines are restricted to 128
# characters long!
#
# Steve Woodford, August 1993.
