*□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■
*
*	サンプリングデータリスト
*
*□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■

*	　'*'で始まる行はリマークです。

*	　'$','0x','0X' で始まる数字は１６進数を表します。

*	　同一ファイルが複数箇所で指定されていても、ファイル読み込みの再に最適化され
*	ます。よって、メモリがムダに消費されることはありません。


*	●サンプリングファイルの指定方法

*		PCM_No.でサンプリングナンバーを指定（0x01～0xFF の範囲。0 は無効）。

*		FILE=  でサンプリングデータファイルを指定。

*		STAT=  でサンプリング再生の方法を指定（IOCS $60 の d1 に相当）。

*		PR=    でサンプリング再生の優先度を指定。



*---------------------[ 爆発音 ]---------------------

* 爆発（LEVEL 1）
			PCM_No.$01 : FILE= PCM_DAT\BOM1.sam	, STAT=$403 , PR=$30

* 爆発（LEVEL 2）
			PCM_No.$02 : FILE= PCM_DAT\BOM2.sam	, STAT=$403 , PR=$38

* 爆発（LEVEL 3）
			PCM_No.$03 : FILE= PCM_DAT\AJ03_.sam	, STAT=$403 , PR=$3C

* 爆発（LEVEL 4）
			PCM_No.$04 : FILE= PCM_DAT\GF01B.sam	, STAT=$403 , PR=$48


* ボス大破（第１段階）
			PCM_No.$08 : FILE= PCM_DAT\AJ03_.sam	, STAT=$403 , PR=$3C

* ボス大破（くすぶり）
			PCM_No.$09 : FILE= PCM_DAT\BOM1.sam	, STAT=$403 , PR=$30

* ボス大破（フラッシュ）
			PCM_No.$0A : FILE= PCM_DAT\DG12_.sam	, STAT=$403 , PR=$40

* ボス大破（第２段階）
			PCM_No.$0B : FILE= PCM_DAT\GF01B.sam	, STAT=$403 , PR=$48



*---------------------[ 発射音 ]---------------------
* レーザー(LEVEL 1)
			PCM_No.$11 : FILE= PCM_DAT\MS08_.sam	, STAT=$403 , PR=$34

* レーザー(LEVEL 2)
			PCM_No.$12 : FILE= PCM_DAT\FMAKE18.sam	, STAT=$403 , PR=$3A


* ショット(LEVEL 1)
			PCM_No.$18 : FILE= PCM_DAT\THUD.sam	, STAT=$403 , PR=$34

* ショット(LEVEL 2)
			PCM_No.$19 : FILE= PCM_DAT\GMSE_00A.sam	, STAT=$403 , PR=$34

* ショット(LEVEL 3)
			PCM_No.$1A : FILE= PCM_DAT\GMSE_011.sam	, STAT=$403 , PR=$38



*---------------------[ 自機関係 ]---------------------

* 自機ショット
			PCM_No.$20 : FILE= PCM_DAT\GMSE_008.sam	, STAT=$403 , PR=$10

* 自機 ボンバー（フラッシュ）
			PCM_No.$21 : FILE= PCM_DAT\DG12_.sam	, STAT=$403 , PR=$40

* 自機 ボンバー（爆発音）
			PCM_No.$22 : FILE= PCM_DAT\GMSE_004.sam	, STAT=$403 , PR=$44


* 自機 被弾（バリヤー非装着時）
			PCM_No.$28 : FILE= PCM_DAT\GMSE_003.sam	, STAT=$403 , PR=$80

* 自機 被弾（バリヤー装着時）
			PCM_No.$29 : FILE= PCM_DAT\GMSE_017.sam	, STAT=$403 , PR=$80

* 自機 大破
			PCM_No.$2A : FILE= PCM_DAT\DG06.sam	, STAT=$403 , PR=$80



*---------------------[ アイテム関係 ]---------------------
* １ＵＰ出現
			PCM_No.$30 : FILE= PCM_DAT\SE_04.sam	, STAT=$403 , PR=$80

* １ＵＰ取得
			PCM_No.$31 : FILE= PCM_DAT\SE_02.sam	, STAT=$403 , PR=$80

* アイテム１（Ｐ）
			PCM_No.$32 : FILE= PCM_DAT\SE_01.sam	, STAT=$403 , PR=$40

* アイテム２（Ｂ）
			PCM_No.$33 : FILE= PCM_DAT\SE_03.sam	, STAT=$403 , PR=$40

* アイテム３（シールド）
			PCM_No.$34 : FILE= PCM_DAT\SE_06.sam	, STAT=$403 , PR=$40

* アイテム４（スコア）
			PCM_No.$35 : FILE= PCM_DAT\SE_05.sam	, STAT=$403 , PR=$40

* 全アイテム同時取り
			PCM_No.$36 : FILE= PCM_DAT\TO28.sam	, STAT=$403 , PR=$80



*---------------------[ その他 ]---------------------

* タイトル メニュー決定音
			PCM_No.$40 : FILE= PCM_DAT\RECCA3.sam	, STAT=$403 , PR=$31

* タイトル カーソル移動音
			PCM_No.$41 : FILE= PCM_DAT\RECCA1.sam	, STAT=$403 , PR=$30


* ショット打ち込み音
			PCM_No.$42 : FILE= PCM_DAT\RAI03_.sam	, STAT=$403 , PR=$30

* 金属弾き音
			PCM_No.$43 : FILE= PCM_DAT\FMAKE33.sam	, STAT=$403 , PR=$2F

* メカ歩行音
*			PCM_No.$44 : FILE= PCM_DAT\DG04.sam	, STAT=$403 , PR=$40

* エネルギーチャージ（一般用途）
			PCM_No.$45 : FILE= PCM_DAT\DG03.sam	, STAT=$403 , PR=$38



*---------------------[ 特殊用途（ボス以外用）]---------------------

* ３面編隊ザコ開閉音
			PCM_No.$60 : FILE= PCM_DAT\DG04.sam	, STAT=$403 , PR=$40

* ５面中ボスなぎはらい弾
			PCM_No.$61 : FILE= PCM_DAT\TO12.sam	, STAT=$403 , PR=$34



*---------------------[ 特殊用途（ボス用）]---------------------

* １ボス エネルギーチャージ
			PCM_No.$80 : FILE= PCM_DAT\DG03.sam	, STAT=$403 , PR=$38

* １ボス チャージ弾発射
			PCM_No.$81 : FILE= PCM_DAT\GMSE_011.sam	, STAT=$403 , PR=$38

* １ボス チャージ弾被弾
			PCM_No.$82 : FILE= PCM_DAT\GMSE_004.sam	, STAT=$403 , PR=$44


* ２ボス 誘導ミサイル発射
			PCM_No.$90 : FILE= PCM_DAT\TO12.sam	, STAT=$403 , PR=$34

* ２ボス 合体音
			PCM_No.$91 : FILE= PCM_DAT\DG04.sam	, STAT=$403 , PR=$40

* ２ボス パーツ脱落音
			PCM_No.$92 : FILE= PCM_DAT\DG04.sam	, STAT=$303 , PR=$40

* ２ボス ミサイル再充填
			PCM_No.$93 : FILE= PCM_DAT\MS05_.sam	, STAT=$303 , PR=$40

* ２ボス 浮遊機雷発射
			PCM_No.$94 : FILE= PCM_DAT\MS08_.sam	, STAT=$303 , PR=$38


* ３ボス変形 step１
			PCM_No.$A0 : FILE= PCM_DAT\DG04.sam	, STAT=$403 , PR=$40

* ３ボス変形 step２
			PCM_No.$A1 : FILE= PCM_DAT\DG04.sam	, STAT=$403 , PR=$40

* ３ボス変形 step３
			PCM_No.$A2 : FILE= PCM_DAT\DG04.sam	, STAT=$403 , PR=$40

* ３ボス第１段階 エネルギー弾
			PCM_No.$A3 : FILE= PCM_DAT\FMAKE18.sam	, STAT=$303 , PR=$3A

* ３ボス第２段階 拡散レーザー
			PCM_No.$A4 : FILE= PCM_DAT\FMAKE18.sam	, STAT=$403 , PR=$3A


* ４ボス バラまき弾
*			PCM_No.$B0 : FILE= PCM_DAT\GMSE_00A.sam	, STAT=$403 , PR=$34


* ５ボス シャッター閉じ
			PCM_No.$C0 : FILE= PCM_DAT\DG04.sam	, STAT=$403 , PR=$40


* おしおきボス 変形音
			PCM_No.$E0 : FILE= PCM_DAT\MS05_.sam	, STAT=$403 , PR=$34

* おしおきボス 変形音（完成）
			PCM_No.$E1 : FILE= PCM_DAT\MS05_.sam	, STAT=$303 , PR=$34

* おしおきボス 第２段階コア脱離
			PCM_No.$E2 : FILE= PCM_DAT\MS05_.sam	, STAT=$303 , PR=$34

* おしおきボス 第２段階コア脱出ポッド合体
			PCM_No.$E3 : FILE= PCM_DAT\MS05_.sam	, STAT=$303 , PR=$34

* おしおきボス 大破
			PCM_No.$EF : FILE= PCM_DAT\FMAKE32.sam	, STAT=$403 , PR=$80


* ６ボス ハッチ開く
			PCM_No.$F0 : FILE= PCM_DAT\DG04.sam	, STAT=$403 , PR=$40

* ６ボス ハッチ閉まる
			PCM_No.$F1 : FILE= PCM_DAT\DG04.sam	, STAT=$403 , PR=$40

* ６ボス エネルギーチャージ
			PCM_No.$F2 : FILE= PCM_DAT\DG03.sam	, STAT=$403 , PR=$38


* ０ボス ショット
			PCM_No.$F8 : FILE= PCM_DAT\MS08_.sam	, STAT=$403 , PR=$34

* ０ボス ハッチ開く
			PCM_No.$F9 : FILE= PCM_DAT\MS05_.sam	, STAT=$303 , PR=$34

* ０ボス エネルギーチャージ
			PCM_No.$FA : FILE= PCM_DAT\DG03.sam	, STAT=$403 , PR=$38

* ０ボス 第１段階大破
			PCM_No.$FB : FILE= PCM_DAT\AJ03_.sam	, STAT=$403 , PR=$3C

* ０ボス 第２段階大破
			PCM_No.$FC : FILE= PCM_DAT\AJ03_.sam	, STAT=$403 , PR=$3C

* ０ボス 大破～突風（１）
			PCM_No.$FD : FILE= PCM_DAT\AJ03_.sam	, STAT=$303 , PR=$80

* ０ボス 大破～突風（２）
			PCM_No.$FE : FILE= PCM_DAT\FMAKE32.sam	, STAT=$403 , PR=$80




