(* Include file: FPU.CNF *)

Dies ist ein wichtiger Hinweis!

(*
      Hinweise zum Erstellen der Module & Shell fr IEEE-Format
      ---------------------------------------------------------

1. Die Hinweiszeile am Anfang l”schen, damit kein Fehler mehr beim
   šbersetzen auftritt.
2. Je nachdem, ob Code fr die den einen oder anderen Mathe-Coprozessor
   erzeugt werden soll (z.B. f. FPU-Shells), mssen die beiden Konstanten
   M68881 und A68881 gesetzt werden:
   - Fr Code ohne FPU-Untersttzung: Beide auf FALSE.
   - Fr Code mit FPU-Untersttzung fr die ST-FPU:
        A68881 = TRUE; M68881 = FALSE;
   - Fr Code mit FPU-Untersttzung fr die TT-FPU (auch Falcon):
        A68881 = FALSE; M68881 = TRUE;
   Aužerdem ist bei der Erzeugung von Code fr eine der FPUs eine
   entsprechende Direktive in der Compiler-Option-Box der Shell
   einzutragen: "+F" fr ST-, "/F" fr TT-FPU.
3. Die Module  Convert, MathLib0, MOSConfig, RandomGen & Runtime
   sind zu bersetzen.
4. Ggf. Shell neu linken.
*)


(*  -----------------------------------------------------------------
 *   Hier die drei m”glichen Konfigurationen - eine davon verwenden:
 *  -----------------------------------------------------------------
 *)

(*
 *                        ---------------
 *                          keine F P U
 *                        ---------------
 *)
(* diese fr FPU-Erzeugung ausklammern! *)
     CONST A68881 = FALSE;  (* Atari-/Weide-/usw.-FPU *)
           M68881 = FALSE;  (* FPU auf PAK mit 68020, FPU im TT/Falcon  *)


(*
 *                        ---------------
 *                          T T - F P U
 *                        ---------------
 *
 *  ---------------------------------------------------------------
 *   >>> Nicht vergessen: In den Comp-Directiven /F eintragen! <<<
 *  ---------------------------------------------------------------
 *)
(*
     (*$F* *)  (* zur Verifikation, daž richtiges Format gew„hlt ist *)
     CONST A68881 = FALSE;  (* Atari-/Weide-/usw.-FPU *)
           M68881 = TRUE;   (* FPU auf PAK mit 68020, FPU im TT/Falcon  *)
*)

(*
 *                        ---------------
 *                          S T - F P U
 *                        ---------------
 *
 *  ---------------------------------------------------------------
 *   >>> Nicht vergessen: In den Comp-Directiven +F eintragen! <<<
 *  ---------------------------------------------------------------
 *)
(*
     (*$F+*)  (* zur Verifikation, daž richtiges Format gew„hlt ist *)
     CONST A68881 = TRUE;   (* Atari-/Weide-/usw.-FPU *)
           M68881 = FALSE;  (* FPU auf PAK mit 68020, FPU im TT/Falcon  *)
*)


(*
 *  ---------------------------------------------------------------
 *                            Das war's
 *  ---------------------------------------------------------------
 *)


(*$? A68881 OR M68881:        (*$F+*) *)
(*$? NOT A68881 & NOT M68881: (*$F-*) *)

(* End of include file *)
