0
0
1
0
0
0
1
2
1
1
0
0

D:\GFABASIC\G3SYSTEM\EDITOR\GFABASIC.PRG
D:\GFABASIC\G3SYSTEM\COMPILER\GFA_BCOM.PRG
D:\GFABASIC\G3SYSTEM\LINKER\GLINKER.PRG
D:\GFABASIC\utility\RCS\RCS2.PRG
D:\GFABASIC\SOURCES\
G3OBJ=???
G3PRG=???
G3LIB=D:\GFABASIC\G3SYSTEM\LINKER\GFA3PLIB
G3WAIT=OFF
G3MOVE=OFF
???
6
Sprite Editor
D:\GFABASIC\UTILITY\SPRITE\SPR_EDIT.PRG
BCS
D:\GFABASIC\UTILITY\BCS\BCS.PRG
Assembler
D:\OM_ASSEM\OM-ASSEM.PRG
Public Painter
E:\GRAFIK\PUBLIC\PPM.PRG
TextEdit
E:\EDITOR\TEXTEDIT\TEXTEDIT.TTP
BITBLK-Konverter
D:\GFABASIC\UTILITY\BITBLK\BITBLK.PRG
