*□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■
*
*	スプライト関係エリアサイズ
*
*□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■

*	'*'で始まる行はリマークです。
*	'$','0x','0X' で始まる数字は１６進数を表します。


	PCG_MAX = 0x075E		* １要素＝１２８バイト
	REF_MAX = 0x0B93		* １要素＝８バイト
	FRM_MAX = 0x55B8		* １要素＝８バイト


