#@ Created automatically by WinConf 2.00 the  21/08/2001 at 23h38
#@ WinConf is written by Dominique B‚r‚ziat 1997/2000 - all rights reserved

# Created automatically by WinConf the  18/01/1998 at 01h54
# Dominique B‚r‚ziat 1997 - all right reserved

[MOUSEXY]
mousexy.timer = 200
mousexy.window = "10,10"
mousexy.display.mouse = false
mousexy.display.clock = true
mousexy.small = false
[end]

