# gem.cnf
;TIME
# =================================================================
# use 'setenv' to set the AES environment variables. Current
# useful environment variables are:
#
# PATH				- used to search for resources for apps
# ACCPATH			- Accessory search path
# DESKFMT			- can be used to install alternate disk
#					  formatter/copier (for use with Desktop)
# DESKCOPY			- used to install alternate disk copy 
#					  application (for use with Desktop).
# SHPRINT			- full path for desktop print utility
# SHSHOW			- full path for desktop view file utility
# GEMEXT			- filename extenders for GEM applications
# TOSEXT			- filename extenders for TOS programs.
# TOSRUN			- full path of program to run TOS programs
#
# The following items are variables used by GEM. They can be 
# set by: <variablename>=1.
# For example: AE_SREDRAW=1 would make GEM redraw the screen
# when an application is launched.
#
# AE_SREDRAW		- redraw the screen when program starts
#					  (1=on, 0=off)
# AE_TREDRAW		- redraw the screen when program exits
#					  (1=on, 0=off)
# SHELL				- full pathspec for default shell. Can
#					  be used to install alternate desktops.
# AE_LANG			- the default language for the GEM Desktop
#					  (0=usa, 1=German, 2=French, 4=Spanish,
#					   5=Italian)
# RUN filespec      - will run the program filespec at the 
#					  time the GEM Desktop starts.
;PATH
setenv ACCPATH=C:\
setenv ACCEXT=ACC,ACX
setenv GEMEXT=PRG,APP,GTP
setenv TOSEXT=TOS,TTP
;SHSHOW
;SHPRINT
;TOSRUN




