body {
font: 12px/170% Verdana, sans-serif;
}
h3 {
background-color:#5f9be3;
color:#fff;
}
dl {
margin-bottom:20px;
}
dl dt {
background:#5f9be3;
color:#fff;
float:left;
font-weight:bold;
margin-right:10px;
padding:2px;
width:200px;
}
dl dd {
margin:2px 0;
padding:5px 0;
}
table {
border-collapse:collapse;
}
td, th {
padding: 2px;
border: solid #000000;
border-width: 1px;
}
th {
border-bottom: 2px solid #000000;
font-weight: bold;
}
