(* Include file: FPU.CNF *)

(*
 * Wenn eins der Module
 *    Runtime, Convert, RandomGen o. MathLib0
 * Åbersetzt werden soll, bestimmen die beiden folgenden Konstanten,
 * ob Code fÅr eine FPU erzeugt werden soll. In diesem Fall ist EINE
 * der beiden Konstanten auf TRUE zu setzen.
 *)

CONST A68881 = FALSE;  (* ST-FPU (Atari-/Weide-/usw.) *)
      M68881 = FALSE;  (* TT-FPU (auch PAK 68020 mit 68881) *)

(*$? A68881:            (*$F+*) *)
(*$? M68881:            (*$F**) *)

(* End of include file *)
