# Example of oAESis configuration file (oaesis.cnf)
#
# The file should go in one of the following directories:
#
# The same as oaesis.prg
# <boot drive>:\mint\
# <boot drive>:\multitos\
# <boot drive>:\
#
# The following AES variables are supported:
#
# Set debug output device (default is u:\dev\null)
# AE_DEBUG=u:\dev\modem2
#
# Set font id
# AE_FONTID=1
#
# Set font size
# AE_PNTSIZE=9
#
# Set realtime moving of windows
# AE_REALMOVE=1
#
# Set realtime sizing of windows
# AE_REALSIZE=1
#
# Set realtime scrolling of windows
# AE_REALSLIDE=1
# 
# Set resolution. The number is the same as in assign.sys;
# 2 => 320x200x16
# 3 => 640x200x4
# 4 => 640x400x2
# etc.
# AE_REZ=4
#
# Don't show application name in window mover
# AE_WIND_APPL=0
#
# The following commands are recognized:
#
# Start shell program (desktop)
# shell d:\nytto\desktop\thing\thing\thing.app
#
# Start program
# run d:\nytto\test\gembench\gembench.prg
