# Konfig-Datei zum SysGem-Overlay fÅr ResourceMaster ab Version 3.0

# Ein Doppelkreuz leiten einen Kommentar ein. Der Rest der Zeile wird
# ignoriert. Leerzeilen sind auch erlaubt.

# Enable3D schaltet die 3D-Darstellung ein (1) oder aus (0).
# Funktioniert nur wenn 16 Farben oder mehr zur VerfÅgung stehen.
Enable3D=1

# SysGem kann die Buttons in zweierlei Arten zeichnen: eckig (0) und einmal
# ganz leicht abgerundet (1).
UseRoundButtons=1

# Eigene Editfelder an (1) oder aus (0)
UseOwnEditFields=0

# Rahmen um die Editfelder zeichen (1) oder nicht (0)
SetMonoEditFrame=0

# Thorsten Bergner ein (1) oder aus (0)
IchbinThorsten=0

# Folgende Werte fÅr die Farben stehen zu VerfÅgung:
# 0 = weiû, 1 = schwarz, 2 = rot, 3 = grÅn, 4 = blau, 5 = cyan, 6 = gelb
# 7 = magenta, 8 = hellgrau, 9 = dunkelgrau, 10 = dunkelrot, 11 = dunkelgrÅn
# 12 = dunkelblau, 13 = dunkelcyan, 14 = dunkelgelb, 15 = dunkelmagenta

# Mit diesem Kommando kînnen Sie einstellen, in welcher Farbe die Texte
# in den Frameboxen gezeichnet werden sollen.
FrameTextColor=2

# Mit diesem Kommando kînnen Sie einstellen, in welcher Farbe die Short-
# cuts gezeichnet werden sollen.
ShortCutColor=2


