# .\mp2audio.cnf
# c:\mp2audio.cnf

# Example config file for MPEG Layer II Audio

# Comments are preceeded with '#' or a blank character
# If an argument is commented, the default value is used.
# Likewise if the program cannot find this config file.

# The program first looks for this file in the same directory
# it was started from, and if it's not found, it looks in the
# root of c:\


# The size of the DMA buffer block in kilobytes.
# Note! A low buffer size (~50kb) will cause Fast Forward to 
# fail and interruptions will take place more often.
# Default is 200
BLOCK_SIZE = 1024

# Time slice is the time in milliseconds between the
# checks if more data needs to be loaded and updating
# of the time counter.
# A value over 1000 will cause the time counter to step
# more than one second at a time.
# With a lower time slice value, a lower buffer size is
# possible to be used but a higher value is safer to use.
# Default is 500
TIME_SLICE = 250

# The default direction of the counter. Should be set to
# either "up" or "down".
# Default is down
COUNT_DIRECTION = down

# The default path to load songs from. It must be absolute.
# Note that this is only used when the program is first 
# started, after that, it remembers the previous path used.
# Default is current path
DEFAULT_PATH = f:\mp2
# Unix style path names for MiNT are also valid. The following 
# will be translated into "U:\F\MP2\"
#DEFAULT_PATH = /f/mp2/

# Automatically finds the first song in the current directory 
# when the program is started. Should be set to "yes" or "no".
# This does not play the found song, but only loads it.
# If DEFAULT_PATH is set, it uses that path.
# Default is no
#FIND_FIRST = yes

# Same as FIND_FIRST but also start playing if a song is found.
# Should be set to "yes" or "no". If PLAY_FIRST is set to yes,
# the use of FIND_FIRST will be obsolete.
# Default is no
#PLAY_FIRST = yes

# Force the player to use internal or external clock.
# Should be set to either "internal" or "external".
# This option is not normally needed since the program will
# check for an external clock if present. But if you still
# want to use the internal clock, use this option.
# Trying to use external clock if none is present will not
# produce any sound at all.
# Default is automatic detection
#FORCE_CLOCK = internal
