# AESFONT.CNF: Standard-Konfigurationsdatei fÅr AES Font Loader v1.0    ΩHayoSoft 1993 
# ------------------------------------------------------------------
#
AF_VERBOSE=1           * GeschwÑtzigkeit (unter OverScan verboten!)
#
# Fonteinstellungen:
AF_FONTID=257           * AES Font ID
AF_FONTPOINT=9          * IBM Fontgrîûe      (points mode)
'AF_FONTHEIGHT=10       * IBM Fontgrîûe      (absolute mode)
AF_SMALLID=257          * SMALL Font ID
AF_SMALLPOINT=8         * SMALL Fontgrîûe    (points mode)
'AF_SMALLHEIGHT=10      * SMALL Fontgrîûe    (absolute mode)
AF_CONID=1              * Console Font ID
'AF_CONPOINT=9          * Console Fontgrîûe  (points mode)
AF_CONHEIGHT=6          * Console Fontgrîûe  (absolute mode)
AF_DEFAULTID=257        * Default Font ID
AF_DEFAULTPOINT=9       * Default Fontgrîûe  (points mode)
'AF_DEFAULTHEIGHT=10    * Default Fontgrîûe  (absolute mode)
#
'AF_ALIGNMENT=0         * AES horizontale Fontausrichtung 
'AF_COLOR=5             * AES Zeichenfarbe
#
# Patches:
AF_1STWPATCH=1          * Patch fÅr 1st Word, manipuliert work_out[45]-[48]
AF_WINDOWPATCH=1        * Fenster nicht in MenÅzeile
AF_GETINFOPATCH=1       * Patch fÅr appl_getinfo() in MultiTOS 0.8 - 1.?
'AF_NOWORK10=1          * Patch fÅr work_out[10] abschalten
#
# Hacks:
'AF_NODESKFIX=1         * Desktop Resource im RAM nicht manipulieren (MTOS)
'AF_LOADHACK=1          * vst_load_fonts liefert immer Anzahl geladene Fonts
'AF_FLYHACK=2           * Kritischer Hack fÅr Flydials
'AF_CHAMHACK=10         * Kritischer Hack fÅr ChamÑleon 1.19 und neuen Default
'AF_UNLOAD=1            * GDOS Fonts nach Einstellung entladen [ÅberflÅssig]
