LoadPath1 = d:\spc\user\
LoadPath2 = d:\spc\UTILITY\
LoadPath3 = d:\spc\SPCLIB\
LoadPath4 = d:\spc\stdlib\
LoadPath5 = d:\spc\SYSLIB\
LoadPath6 = d:\spc\misc\
LoadPath7 = d:\spc\tools\rcstools\
Path-1 = 
Path1 = D:\ERWIN.OFF\
Path2 = d:\spc\SPCLIB\
Path3 = d:\spc\stdlib\
Path4 = d:\spc\SYSLIB\
ObjPath-1 = 
ObjPath1 = D:\ERWIN.OFF\
ObjPath2 = d:\spc\SPCLIB\
ObjPath3 = d:\spc\STDLIB\
ObjPath4 = d:\spc\SYSLIB\

TERMINALFLAGS =    55  165  592  272  150
XSH = - D:\ERWIN.OFF\TEST.ASC                                 7   20  412  216
XSH1 = - D:\ERWIN.OFF\TEST.MOD                             1                                                   .................*  
XSH2 = - D:\ERWIN.OFF\TEST.ASC                             2                                                   .................*  
XSH3 = -                                                                                                       ................    
XSH4 = -                                                                                                       ................    
XSH5 = -                                                                                                       ................    
XSH6 = -                                                                                                       ................    
XSH7 = -                                                                                                       ................    
XSH8 = -                                                                                                       ................    
XSH9 = - Edit                                              E                                                   **...............ASC
XSH10 = - Compile                                           C -r -o -v                                          **...............MOD
XSH11 = - Link                                              L -v                                                .*...............OBM
XSH12 = - Filer                                             F                                                   ................    
XSH13 = - Print                                             P                                                   *...............    
XSH14 = - Structur                                          S -v                                                **...............MOD
XSH15 = - V24Phone                                          V                                                   ................    
XSH16 = - Manual                                            M                                                   .*...............TXT
XSH17 = - d:\SPC\UTILITY\PATHS.OBM                                                                              ...................*
XSH18 = - D:\PD\EXEC.MOD                                                                                        .................*  
XSH19 = - D:\SPC\OPTIMIZE\M2O.OBM                             -v -o -l                                          .*...............*  
XSH20 = -                                                                                                       ................    
XSH21 = -                                                                                                       ................    
XSH22 = -                                                                                                       ................    
XSH23 = -                                                                                                       ................    
XSH24 = -                                                                                                       ................    
XSH25 = -                                                                                                       ................    
XSH26 = -                                                                                                       ................    
XSH27 = -                                                                                                       ................    
XSH28 = -                                                                                                       ................    
XSH29 = -                                                                                                       ................    
XSH30 = -                                                                                                       ................    
XSH31 = -                                                                                                       ................    
XSH32 = -                                                                                                       ................    
EDITFLAGS0 =    15   19  624  400    0    0 0 0
EDITFLAGS1 =     7   19  624  400    0    0 0 0
EDITFILE0 = D:\ERWIN.OFF\TEST.ASC
EDITFILE1 = D:\ERWIN.OFF\BASIC.MOD
EditMacro264 = (
EditMacro265 = )
EditMacro266 = /
EditMacro267 = *
EditMacro268 = NÐ/(zÞÐNVÿþ4.
EditMacro269 = -
EditMacro270 = +
EditMacro272 = .
EditMacro273 = 0
EditMacro274 = 1
EditMacro275 = 2
EditMacro276 = 3
EditMacro277 = 4
EditMacro278 = 5
EditMacro279 = 6
EditMacro280 = 7
EditMacro281 = 8
EditMacro282 = 9
DEBUGSource =    15   19  592  160
DEBUGProcs =    15  243  280  176
DEBUGModules =    39   38  240  288
DEBUGData_1 =   327  243  280  176
DEBUGData_2 =   327   37  320  320

Watch =   575   23    1
SerialNo =       1238            54982381
Exec = D:\ACCESSOR.PRG
FILERFLAGS =    15   19  376  400  415   19  224  400 1 1
FILERSEL =   *.BAK  *.*  *.*  *.*  *.*  *.*  
ManualFlags =    22   22  248  400  624  400
PRINTERFLAGS =    0  65  80 D:\SPC\MISC\EPSON_LQ.CFG
PRINTFLAGS =    0  65  80   0   1  -3   2  -2    7  301
Path5 = D:\OBERON\
ObjPath5 = D:\OBERON\
Path6 = D:\SPC\TOOLS\BASICLIB\
ObjPath6 = D:\SPC\TOOLS\BASICLIB\
Path7 = D:\SPC\OPTIMIZE\
ObjPath7 = D:\SPC\OPTIMIZE\
Path10 = 
ObjPath10 = 
OptExcl = D:\SPC\OPTIMIZE\
OptPath = D:\SPC\OPTIMIZE\T\
Path9 = 
ObjPath9 = 
Path8 = D:\PD\
ObjPath8 = D:\PD\
